*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:bisque;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
#github{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
/*main start*/
main{
    height: 90vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 50px;
}
#time{
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 50px;
    width: 300px;
    background-color: lightcyan;
    border: 3px solid black;
    border-radius: 20px;
}