*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:bisque;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
#github{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
/*main start*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 500px;
    width: 700px;
    background-color:ivory;
    border: 3px solid black;
    border-radius: 20px;
    margin: 50px;
    padding-left: 100px;
}
form h1{
    font-size: 45px;
    text-decoration: underline;
}
label[for="height"], label[for="weight"]{
    font-size: 25px;
}
#height, #weight{
    font-size: 20px;
}
.btn{
    font-size: 25px;
    height: 40px;
    width: 200px;
    background-color: darkgray;
    margin: 10vh;
    border-radius: 10px;
}
.btn:hover{
    background-color: brown;
}
#top{
    font-size: 40px;
    font-weight: bold;
}
.rest{
    margin-left:80vh;

    font-size: 25px;
}
/* result button */
#result{
    height: 40px;
    width: 200px;
    margin-left: 90px;
    padding: 10px;
    font-size:25px;
}