*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
main{
    min-height:600px ;
    min-width: 500px ;
    border: 2px solid white;
    border-radius: 20px;
}
h1{
    margin: 30px 30px 10px 30px;
    font-size: 50px;
    padding-left: 100px;
    
}
h3{
    font-size: 40px;
    padding-left: 90px;
    margin-bottom: 30px;
}
input, button{
    height: 35px;
}
input{
    min-width: 300px;
    border-radius: 20px;
    margin-left: 30px;
    font-size: 25px;
    padding-left: 10px;
}
button{
    width:80px;
    font-size: 25px;
    border-radius: 20px;
}
button:hover{
    background-color: beige;
}