*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black ;
    color: black; 
    height: 100vh;
    position: relative;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 5s forwards;
    position: absolute;
}
@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(5);
        opacity: 0;
        font-size: 50px;
    }
}