/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:bisque;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
#github{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

.headerPara{
    font-size: 30px;
    text-align: center;
    margin: 20px 0;


}
main{
    height: 100vh;
    
}
.parent{
    height: 50% ;
    width: 25%;
    background-color: bisque;
    border: 2px solid black;
    margin: 40px auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
input{
    height: 40px;
    padding: 10px;
    font-size: 25px;
}
input, label{
    margin: 5px 120px 0 60px;

}
button{
    height: 35px;
    background-color:aquamarine;
    border: 2px solid black;
    width: 100px;
    margin-left: 150px;
    margin-top: 10px;  
    font-size: 20px;    
} */

/*  Responsive Design    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
nav{
    background-color: bisque;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#home,
#github{
    height: 45px;
    width: 180px;
    font-size: 16px;
    margin: 5px;
}

/* MAIN LAYOUT */
main{
    min-height: calc(100vh - 70px);
    padding: 30px 20px;
    text-align: center;
}

/* Heading & Paragraph */
h1{
    font-size: clamp(28px, 5vw, 60px);
    margin-bottom: 10px;
}

.headerPara{
    font-size: clamp(16px, 3vw, 24px);
    margin-bottom: 30px;
}

/* FORM */
.parent{
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Labels */
label{
    margin-top: 15px;
}

/* Inputs */
input{
    height: 40px;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}

/* Button */
button[type="submit"]{
    height: 45px;
    width: 100%;
    margin-top: 20px;
    background-color: aquamarine;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover{
    background-color: #76eec6;
}
