*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}
h1{
    font-size:100px;
    animation: slideRight 2s ease-in-out forwards;
}
@keyframes slideRight {
        from {
          transform: translateX(-500px); /* Start from left */
          opacity: 0;
        }

        to {
          transform: translateX(0); /* Final position */
          opacity: 1;
        }
      }
    
.form{
    height: 600px;
    width: 500px;
    background-color: bisque;
    margin-left: 200px;
    margin-top: 50px;
    border: 20px solid red;
    border-radius: 20px;
}
label{
  font-size: 30px;
  display: block;
  color: black;
  margin: 30px 0 20px 50px;
}
input{
  display: block;
  color: black;
  height: 30px;
  width: 200px;
  margin-left:50px;
}
button{
  margin: 70px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-radius: 20px;
}
button:hover{
  background-color: blueviolet;
}

#loadingText{
        display: block;
        margin-left:100px;
        display:none;
        color:black;
        font-size:30px;
      }