*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:bisque;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
#github{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}
/*main start*/
h1{
    font-size: 60px;
    padding-top: 80px;
    padding-left: 700px;
}
#gray{
    height: 200px;
    width: 200px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 60px;
}
#gray:hover{
    height:210px;
    width: 210px;
}
#white{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 60px;
}
#white:hover{
    height: 210px;
    width: 210px;
}
#red{
    height: 200px;
    width: 200px;
    background-color:red;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 60px;
}
#red:hover{
    height: 210px;
    width: 210px;
}
#blue{
    height: 200px;
    width: 200px;
    background-color:blue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 60px;
}
#blue:hover{
    height: 210px;
    width: 210px;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 60px;
}
p{
    font-size:40px;
    font-weight: 700;
    padding-left: 650px;
    padding-right: 650px;
}